package {{$packageName}};

{{for importedClass : $importedClasses}}
import {{$importedClass}};
{{end}}

@Domain("{{$did}}")
public interface {{$simpleName}}{{when $parents.isNotEmpty()}} extends {{for parent : $parents}}{{$parent.get("name")}}{{end}}{{end}} {

}
